<%= form_with(model: [@category, @task]) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="font-bold mt-8 ml-12">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="font-bold mt-8 ml-12">
    <%= form.label :date , "Date due"%>
    <%= form.date_select :date, selected:  @task.date ? @task.date.to_date : Date.today %>
  </div>

  <div class="font-bold mt-8 ml-12">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="font-bold mt-8 ml-12">
    <%= form.label :category_id, "Category" %>
    <%= form.select :category_id, current_user.categories.pluck(:title,:id), selected: "#{@task.category ? @task.category.id : @category.id}" %>
  </div>
  <div class="flex justify-center items-center text-white font-bold mt-4 ml-12 bg-blue-400 hover:bg-blue-200 hover:text-black p-4 rounded-md w-36 h-12 ">
    <%= form.submit :class => 'font-bold' %>
  </div>
<% end %>
