
<div> 
    <h1 class="text-xl font-bold">Today</h1>
    <% @tasks_today.each do |task| %>
        <%= form_with url: category_task_path(task.category_id, task.id), method: 'put' do |f| %>
            <%= check_box("task", :completed, options = {checked: task.completed, onchange: "this.form.submit()", id: "task_#{task.id}"}) %>
            <%= task.title %>
            <%= task.completed %>
            <%= hidden_field_tag :root, true %>
        <% end %>
    <% end %>

</div>